 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------CODE BY AMONOMA---------------------------*/

body {
    background-color: #f2f2f2;
    color: #1c1c1c;
    font-family: monospace;
    position: relative;
}

main {
    width: 100vw;
    min-height: 100vh;
}

#mainer {
    width: 640px;
    height: auto;
    margin: 2.5rem auto;
    margin-bottom: 5rem;
}

.contact {
    margin-top: 2.5rem;
}

header {
    width: 640px;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.seconde .bigBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.seconde .pictures {
    width: 180px;
    height: 180px;

}


footer { 

    margin-top: 3rem;
    width: 100vw;
    height: 10rem;

    background-color: #050505;
    color: #f2f2f2;
}

.footText {
    width: 640px;
    height: 10rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.footText div {
    width: 270px;
}

.footText .logoFoot {
    width: 80px;
    height: auto;
    margin: 0 auto;
}

/*------------TEXTES----------------*/

h1 {
    margin-top: 5rem;
    text-transform: uppercase;
}

h2 {
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

p {
    margin-top: 2.5rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #1c1c1c;
}

.footText a {
    color: #f2f2f2;
}

a:hover {
    color: red;
}

.troisieme p {
    margin-top: 1.5rem;
}

/*------------IMAGES & LOGOS----------*/

.logoFoot img {
    max-width: 100%;
    height: auto;
}

.logo {
    width: 110px;
    height: auto;

    margin-left: -1.5rem;
    margin-top: -1rem;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.imgPrinc {
    margin-top: 2.5rem;
    width: 640px;
    height: auto;
}

.imgPrinc img {
    max-width: 100%;
    height: auto;
}

/*-----------------------SMARTPHONE----------------------*/